<div class="jumbotron">
  <h1>Welcome, Folks!</h1>
  <p>
  	Finally I spent time to work on my own blog, I'm going to share my feelings, experences, knowledges and my day by day life here. <br>
  	I'm also going to develop a mocro twitter here to deliver my posts, all the posts will also syc to Tencent Webo as well.<br>
  	Have fun and keep gooooooooooooood moooooooooooooood!
  </p>
  <p><a class="btn btn-primary btn-lg" role="button">Get to know me</a></p>
</div>

<div class="panel panel-primary">
  <div class="panel-heading">Construction under building</div>
  <div class="panel-body">
    working on this, will be completed soon! :)
  </div>
</div>
